[Unit]
Description=Certus Telegram Bot
After=network.target

[Service]
User=botuser
WorkingDirectory=/opt/certus_bot
ExecStart=/usr/bin/python3 -m main
Restart=always

[Install]
WantedBy=multi-user.target
